<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Current Research Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">List of current research projects that I am coordinating or contributing to.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <div class="project">
    <h3>
      Cyberphysical Platform for Smart Irrigation
    </h3>
    <p class="summary">
      The object to be developed in this project is an intelligent platform to monitor the level of water needed in a given crop and direct an optimized amount of water to the places where there is demand for the resource. The Internet of Things (i.e., Internet of Things - IoT) with its multitude of sensors, actuators and other related technologies (e.g., Machine Learning) can be used for this purpose. Thus, the platform to be developed: (i) will have a set of IoT tools combined to monitor, through drones and/or field sensors, the crop's water needs; (ii) will act in defining the opening or closing of water pumps to direct the amount of water to specific areas of cultivation; (iii) it will have prediction models - based on Machine Learning and/or application of water balance models (e.g., ACQUACROP) - to control the water pumps used in irrigation.
    </p>
  </div>
  <div class="project">
    <h3>
      Data Analysis and Prediction of Covid-19 Cases and Deaths in the State of Alagoas Applying Machine-Learning Models
    </h3>
    <p class="summary">
      707 / 5,000
Translation results
Considering that Machine Learning models have a high dependence on the data that are used in their training processes, this project aims to analyze the performance of these models to perform the prediction of COVID-19 in local contexts of the State of Alagoas, in the northeast of Brazil. For this, databases from the region will be used to evaluate the predictions obtained from the models. In this way, it is expected to obtain statistically valid conclusions to identify which characteristics and algorithms should be taken into account to obtain relevant information that will help public health agents in this and similar states to identify the course of COVID-19.
    </p>
  </div>
  <div class="project">
    <h3>
      Diagnosis of the Open Data Ecosystem in the Municipalities of Alagoas: A Quanti-Qualitative Approach
    </h3>
    <p class="summary">
      The objective is to map the open data ecosystem of the chambers, which will support proposals to improve quantitatively and qualitatively the access to information in the municipalities. For this, we will investigate the transparency of Alagoas municipal councils from the collection of empirical evidence. This evidence will form part of a diagnostic report and a transparency ranking.
    </p>
  </div>
</div>
