<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Research Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">List of research projects that I contribute(d) to.
<div class="d-sm-flex flex-wrap gutter-condensed mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  <div class="p-2">
    <h4>
      <b>2024 - 2027</b> | Climate Smart Carbon
    </h4>
    <p class="summary">
      The "Climate Smart Carbon" project aims to revolutionize carbon management in agriculture by leveraging advanced remote sensing, IoT, and AI technologies. Focused on measuring and enhancing carbon sequestration in crops, the project integrates multi-source data, including hyperspectral imagery and LiDAR, to monitor and model carbon dynamics in real time. By providing farmers with actionable insights on soil health, crop productivity, and greenhouse gas emissions, this initiative seeks to promote sustainable farming practices that mitigate climate change while improving yields. The project is expected to contribute significantly to carbon-smart agriculture strategies and climate resilience on a global scale.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2023 - 2024</b> | Share Farm Intelligence via Edge Computing
    </h4>
    <p class="summary">
      The goal of this project is to propose a system to orchestrate data gathered using sensors, such as hyperspectral and thermal cameras to collect imagery on soybean, sorghum, and orther crops. Preprocessed plant datasets will be then offered to scientistics and farmers in different formats via a web-based system, ready to be processed by deep learning algorithms or consumed by thin clients.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2022 - 2023</b> | Evaluation of Deep Learning Algorithms in Detecting Cardiovascular Diseases
    </h4>
    <p class="summary">
      In this project, the aim is to develop and analyze models for the prediction of heart diseases using various patient cardiac attributes and to detect imminent heart diseases using machine learning techniques such as backward elimination algorithm, logistic regression, REFCV, and deep neural networks, both on publicly available datasets and data from popular heart monitors. The results are also assessed using confusion matrices and cross-validation. Early prognosis of cardiovascular diseases can assist in decision-making regarding lifestyle changes for high-risk patients, ultimately reducing long-term complications.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2020 - 2022</b> | Cyberphysical Platform for Smart Irrigation
    </h4>
    <p class="summary">
      The object to be developed in this project is an intelligent platform to monitor the level of water needed in a given crop and direct an optimized amount of water to the places where there is demand for the resource. The Internet of Things (i.e., Internet of Things - IoT) with its multitude of sensors, actuators and other related technologies (e.g., Machine Learning) can be used for this purpose. Thus, the platform to be developed: (i) will have a set of IoT tools combined to monitor, through drones and/or field sensors, the crop's water needs; (ii) will act in defining the opening or closing of water pumps to direct the amount of water to specific areas of cultivation; (iii) it will have prediction models - based on Machine Learning and/or application of water balance models (e.g., ACQUACROP) - to control the water pumps used in irrigation.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2022 - 2023</b> | Analysis and Prediction of Covid-19 Cases and Deaths in the State of Alagoas Applying Machine-Learning Models
    </h4>
    <p class="summary">
      Considering that Machine Learning models have a high dependence on the data that are used in their training processes, this project aims to analyze the performance of these models to perform the prediction of COVID-19 in local contexts of the State of Alagoas, in the northeast of Brazil. For this, databases from the region will be used to evaluate the predictions obtained from the models. In this way, it is expected to obtain statistically valid conclusions to identify which characteristics and algorithms should be taken into account to obtain relevant information that will help public health agents in this and similar states to identify the course of COVID-19.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2021 - 2022</b> | Diagnosis of the Open Data Ecosystem in the Municipalities of Alagoas: A Quanti-Qualitative Approach
    </h4>
    <p class="summary">
      The objective is to map the open data ecosystem of the chambers, which will support proposals to improve quantitatively and qualitatively the access to information in the municipalities. For this, we will investigate the transparency of Alagoas municipal councils from the collection of empirical evidence. This evidence will form part of a diagnostic report and a transparency ranking.
    </p>
  </div>
  <div class="p-2">
      <h4>
        <b>2019 - 2020</b> | Smart Water Management Platform (SWAMP) 
      </h4>
      <p class="summary">
        The SWAMP project developed a high-precision smart irrigation system concept for agriculture. The main idea is to enable the optimizations of irrigation, water distribution, and consumption based on a holistic analysis that collects information from all aspects of the system, including even the natural water cycle and the cumulated knowledge related to growing particular plants. It results to savings for all parties as it detects all the leakages and losses and guarantees better the availability of water in situations where water supply is limited.
    </p>
  </div>
  <div class="p-2">
    <h4>
      <b>2019 - 2020</b> | Smart Water Management Platform (SWAMP) 
    </h4>
    <p class="summary">
      The SWAMP project developed a high-precision smart irrigation system concept for agriculture. The main idea is to enable the optimizations of irrigation, water distribution, and consumption based on a holistic analysis that collects information from all aspects of the system, including even the natural water cycle and the cumulated knowledge related to growing particular plants. It results to savings for all parties as it detects all the leakages and losses and guarantees better the availability of water in situations where water supply is limited.
    </p>
  </div>
  <div class="p-2"></div>
    <h4>
      <b>2018 - 2020</b> | P4Sec 
    </h4>
    <p class="summary">
      The SWAMP project developed a high-precision smart irrigation system concept for agriculture. The main idea is to enable the optimizations of irrigation, water distribution, and consumption based on a holistic analysis that collects information from all aspects of the system, including even the natural water cycle and the cumulated knowledge related to growing particular plants. It results to savings for all parties as it detects all the leakages and losses and guarantees better the availability of water in situations where water supply is limited.
    </p>
  </div>
  <div class="p-2"></div>
    <h4>
      <b>2015 - 2020</b> | Study and Development of Methods for Sofware-Defined Networks Applications Implementation
    </h4>
    <p class="summary">
      This project focused on researching and developing methodologies to enhance the implementation of applications within Software-Defined Networks (SDN). The work explored the programmability of network infrastructures, offering novel approaches to improve network performance, flexibility, and security. Through the development of innovative SDN applications, this research contributed to more efficient traffic management, automated network control, and the advancement of network virtualization techniques. The outcomes of this project are applicable in data centers, enterprise networks, and telecommunications infrastructure.
    </p>
  </div>
  <div class="p-2"></div>
    <h4>
      <b>2013 - 2015</b> | Evaluation and Optimization of Cloud Computing Controllers
    </h4>
    <p class="summary">
      In this project, the focus was on assessing the performance and optimization of cloud computing controllers, which manage the allocation and utilization of virtualized resources. The research evaluated existing cloud control algorithms, identifying key inefficiencies and proposing optimizations to enhance scalability, resource management, and energy efficiency. By optimizing cloud controllers, this project aimed to improve the overall performance of cloud environments, ensuring better service delivery and cost-effective resource utilization for enterprises and cloud providers alike.
    </p>
  </div>
</div>
</p>